{% load static %}
{% load i18n %}
{% get_current_language as language %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

    <title>{% translate "Weather Finder" %}</title>

    <!-- Loading third party fonts -->
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          type="text/css">

    <!-- Loading main css file -->
    <link rel="stylesheet" href="{% static "css/style.css" %}">

    <!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->
</head>

<body>
<div class="site-content">
    <div class="site-header">
        <div class="container">
            <a href="/" class="branding">
                <img src="{% static "images/logo.png" %}" alt="" class="logo">
                <div class="logo-type">
                    <h1 class="site-title">{% translate "Weather Finder" %}</h1>
                    <small class="site-description">{% translate "Find weather in your city" %}</small>
                </div>
            </a>

            <!-- Default snippet for navigation -->
            <div class="main-navigation">
                <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
                <ul class="menu">
                    <li class="menu-item current-menu-item"><a href="/">{% translate "Home" %}</a></li>
                </ul> <!-- .menu -->
                <ul class="menu">
                    <li class="menu-item current-menu-item">
                        <select name="language" id="id_language">
                            {% for lang_code, lang_name in language_options %}
                            <option value="/{{ lang_code }}/" {% if lang_code == language %}selected="selected"{% endif %}>{{ lang_name }}</option>
                            {% endfor %}
                        </select>
                    </li>
                </ul> <!-- .menu -->
            </div> <!-- .main-navigation -->

            <div class="mobile-navigation"></div>

        </div>
    </div> <!-- .site-header -->

    <div class="hero" data-bg-image="{% static "images/banner.jpg" %}" style="min-height: 450px">
        <div class="container">
            <div class="search-box">
                <form action="#" class="find-location">
                    <input type="text" id="id_city" placeholder="{% translate "Start typing your city name" %}...">
                    <input type="hidden" id="id_city_value"/>
                    <input type="hidden" id="id_request_language" value="{{ language }}"/>
                    <input type="submit" value="{% translate "Find" %}">
                </form>
                <div style="display: none" class="alert" id="id_error"></div>
                <div class="auto-complete"></div>
            </div>

        </div>
    </div>
    <div class="forecast-table">
        <div class="container">
            <div class="forecast-container">
                <div class="today forecast">
                    <div class="forecast-header">
                        <div class="day">{{ day }}</div>
                        <div class="date">{{ date }}</div>
                    </div> <!-- .forecast-header -->
                    <div class="forecast-content">
                        <div class="weather-placeholder-text">{% translate "Select a city to show weather data"%}</div>
                        <div class="weather-data" style="display: none;">
                            <div class="location" id="id_location">New York</div>
                            <div class="degree">
                                <div class="num" id="id_degree"></div>
                                <div id="weather_description">
                                    <p class="weather_description_min_temp">
                                        <strong>{% translate "Min" %}: </strong><span></span> <strong style="margin-left: 15px;">{% translate "Max" %}: </strong><span></span></p>
                                    <p class="weather_description_title"></p>
                                </div>
                            </div>
                            <span class="forcast-item">
                                <img src="{% static "images/icon-umberella.png" %}" alt="">
                                <span id="id_humidity"></span>
                            </span>
                            <span class="forcast-item">
                                <img src="{% static "images/icon-wind.png" %}" alt="humidity">
                                <span id="id_wind_speed"></span> <span id="id_wind_direction"></span>
                            </span>
                            <span class="forcast-item">
                                <img src="{% static "images/icon-compass.png" %}" alt="">
                                <span id="id_pressure"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <main class="main-content">

    </main> <!-- .main-content -->

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-md-offset-1">

                </div>
            </div>

            <p class="colophon">{% translate "Copyright 2020 Weather Finder. All rights reserved" %}</p>
        </div>
    </footer> <!-- .site-footer -->
</div>
<script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static "js/plugins.js" %}"></script>
<script src="{% static "js/app.js" %}"></script>

</body>

</html>